*{padding: 0; margin: 0;}

a{
    color: black;
    text-decoration: none;
}

header{
    width: 100%;
    height: 130px;
}

#logo{
	display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#hd-main {
	height: 180px;
    width: inherit;
    background-color: white;
}

#hd-nav {
    height: 20px;
    width: inherit;
    text-align: right;
    margin-right: 10px;
}

.hdlink{
    font-size: 12px;
    font-weight: bold;
}

#nav-main {
    width: 100%;
    height: 35px;
    display: inline-block;
    background-color: lightpink;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    list-style-type: none;
  	padding: 0;
}

#nav-main li {
    display: inline-block;
  	padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
}

footer{
    height: 200px;
    width: 100%;
    background-color: lightgray;
}

.footer{
    float: left;
    height: inherit;
    width: 33%;
}

footer section {
    height: 120px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#footer1 a {
    margin-left: 80px;
}

#f-title {
    font-size: 17px;
    font-weight: bold;
}

.f-text{
    font-size: 13px;
}

#f-mini{
    font-size: 12px;
}

#footer2{
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 15px;
}

#footer3 a {
    margin-left: 80px;
}

.f-nav{
    font-weight: bold;
    font-size: 17px;
}

.f-text2{
    font-size: 12px;
}

@media (max-width: 1000px) {
    #nav-main li {
        padding-left: 25px;
    	padding-right: 25px;
    }
}

@media (max-width: 900px) {
    #nav-main li {
        padding-left: 20px;
    	padding-right: 20px;
    }
}

@media (max-width: 700px) {
    #nav-main li {
    	padding-left: 15px;
    	padding-right: 15px;
    }
}

@media (max-width: 600px) {
    #nav-main li {
        padding-left: 10px;
    	padding-right: 10px;
    }
}







