@charset "UTF-8";

*{margin: 0; padding: 0;}

section {
	/*border :1px solid black;*/
	box-sizing: border-box;
}

nav {
	margin: 0px;
	background-color: rgb(250, 225, 221);
}

nav ul {
	list-style-type: none;
	height: 40px;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

nav ul li {
	display: inline;
	float: left;
	line-height: 40px;
	padding-right: 70px;
	padding-left: 70px;
}

nav ul li a {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

#header-user a {
	text-decoration: none;
	color: black;
}

#logo-img {
	position: relative;
	margin-top: 30px;
	left: 45%;
}
/* .wrapper{
	width: 1300px;
	margin-left: left;
	margint-right: left;
} */

/* ν—¤λ” */
header {
	width: 100%;
	height: 180px;
}

#header-user {
	background-color: whight;
	text-align: right;
	height: 30px;
	line-height: 30px;
}

#header-logo {
	background-color: whight;
	height: 100px;
}

/* ν‘Έν„° */
footer {
	width: 100%;
	height: 200px;
	background-color: rgb(236, 236, 254);
}

.footer {
    float: left;
    height: inherit;
    width: 33%;
}

footer section {
    height: 120px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#footer1 a {
    margin-left: 80px;
}

#f-title {
    font-size: 20px;
    font-weight: bold;
}

.f-text{
    font-size: 13px;
}

#footer1 button {
	background-color: black;
	color: white;
	border-radius: 10px;
	position: relative;
}

#f-mini{
    font-size: 12px;
}

#footer2{
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 17px;
}

#footer2 a {
	position: relative;
	top: 35px;
}

#instar {
	width : 30px;
	height: 30px;
	position: relative;
	top: 42px;
}

#footer3 a {
    margin-left: 80px;
	text-decoration: none;
	color: black;
}

.f-nav{
    font-weight: bold;
    font-size: 20px;
}

.f-text2{
    font-size: 15px;
}

